<form [formGroup]="form">
  <div class="row">
    <div class="col-sm-6 text-center">
      <section>
        <mat-slide-toggle formControlName="useCode">
          Use code
        </mat-slide-toggle>
      </section>
    </div>
    <div class="col-sm-6 text-center">
      <section>
        <label>Currency position:</label>
        <mat-radio-group formControlName="currencyPosition">
          <mat-radio-button value="BEFORE">BEFORE</mat-radio-button>
          <mat-radio-button value="AFTER">AFTER</mat-radio-button>
        </mat-radio-group>
      </section>
    </div>
    <div class="col-sm-4 text-center">
      <mat-form-field appearance="outline">
        <mat-label> Cents </mat-label>
        <input
          matInput
          type="number"
          autocomplete="off"
          formControlName="cents"
        />
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <section>
        <label>Thousand identifier:</label>
        <mat-radio-group formControlName="thousandIdentifier">
          <mat-radio-button value=",">COMMA</mat-radio-button>
          <mat-radio-button value=".">POINT</mat-radio-button>
        </mat-radio-group>
      </section>
      <!-- <mat-form-field appearance="outline">
        <mat-label> Thousand Identifier </mat-label>
        <input
          matInput
          type="text"
          autocomplete="off"
          formControlName="thousandIdentifier"
        />
      </mat-form-field> -->
    </div>
    <div class="col-sm-4">
      <section>
        <label>Decimal separator:</label>
        <mat-radio-group formControlName="decimalSeparator">
          <mat-radio-button value=",">COMMA</mat-radio-button>
          <mat-radio-button value=".">POINT</mat-radio-button>
        </mat-radio-group>
      </section>
      <!-- <mat-form-field appearance="outline">
        <mat-label> Decimal Separator </mat-label>
        <input
          matInput
          type="text"
          autocomplete="off"
          formControlName="decimalSeparator"
        />
      </mat-form-field> -->
    </div>
  </div>
</form>
