<!-- <div id="currencies">
  <h1>Currencies</h1>
  <div *ngIf="!isLoading">
    <currency-format *ngFor="let currency of currencies" [currency]="currency">
    </currency-format>
  </div>
  <div *ngIf="isLoading">
    <svg class="splash-spinner" viewBox="0 0 50 50">
      <circle
        class="path"
        cx="25"
        cy="25"
        r="10"
        fill="none"
        stroke-width="3"
      ></circle>
    </svg>
  </div>
  <button (click)="addCurrency()">Add Currency</button>
</div> -->
<div id="currencies">
  <section *ngIf="currencies; else elseCurrency">
    <app-currency-btn-add
      (emitNewCurrency)="onNewCurrency($event)"
    ></app-currency-btn-add>
    <app-currency-table [currencies]="currencies"> </app-currency-table>
  </section>
  <ng-template #elseCurrency> Loading... </ng-template>
</div>
