<h2 mat-dialog-title>Save or update</h2>
<mat-dialog-content class="mat-typography">
  <h4>Currency</h4>
  <app-currency-form (emitCurrency)="onCurrency($event)"></app-currency-form>
  <h4>Format currency</h4>
  <app-currency-format-form
    (emitFormat)="onFormat($event)"
  ></app-currency-format-form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    color="primary"
    [disabled]="!(payloadFormat && payloadCurrency)"
    (click)="onSave()"
  >
    Save
  </button>
</mat-dialog-actions>
